 
<div> 
<body>
    <!-- Add your content here -->
     
    
    <main>
        <!-- Home Section -->
        <section id="home">
            <h2 style="text-align:center">Welcome to Seoyon E-Hwa Savannah</h2>
             <br>   
            <h3>Note</h3> <p>This webpage is for job posting</p>
                In order to reach our main website, please refer to <a href="https://www.seoyoneh.com/eng/brand/intro">
                    https://www.seoyoneh.com/eng/brand/intro</a>


           
           
           
            <!-- Add more content specific to the Savannah location if needed ?????? -->
        </section>

        <!-- About Section -->
        <section id="about">
            <h3>About Seoyon E-Hwa Savannah</h3>
            <p>
                Seoyon E-Hwa Manufacturing Savannah, Inc. aims to establish a cutting-edge manufacturing facility at Savannah Chatham Manufacturing Center, Georgia. Specializing in eco-friendly, high-performance components for electric vehicles (EVs), the facility will utilize advanced technologies, specialized equipment, and new materials. With established partnerships with renowned automotive manufacturers, Seoyon E-Hwa aligns with the growing demand for EVs and contributes to advanced energy technologies, fostering sustainable transportation solutions.
            </p>
        </section>

        <!-- Contact Section -->
        <section id="contact">
            <h3>Contact Us</h3>
            <p>
                For inquiries, please contact us at: <br><br>paul.seoyonehwa@gmail.com <br>
                <a href="mailto:paul.seoyonehwa@gmail.com">Send Email</a>
                


            </p>
        </section>

  
      
    </main>
 
</body>
 

</div>