<br><br>
<div class="dropdownlocator">
<div class="dropdown">
  <button class="dropbtn">Search Here for departments</button>
  <div class="dropdown-content">

    <a (click)="Assembly()">Assembly</a> 
    <a (click)="Development()">Development</a>
    <a (click)="Engineering()">Engineering</a>
    <a (click)="Finance()">Finance</a>
    <a (click)="HR()">Human Resource</a>        
    <a (click)="Injection()">Injection</a>   
    <a (click)="IT()">IT</a>
    <a (click)="Production()">Production</a>
    <a (click)="ProductionControl()">Production Control</a>    

    <!-- Add more options as needed -->
  </div>
</div>
<!--  <button (click)="findAndScrollToWord('Production')">Scroll to word "HR"</button>  -->

<div class="information" #scrollToElement>
  <div *ngIf="showFinanceInfo"><br><br></div>
  <h1>Finance</h1>
  <p>Has Coding experience in C#</p>
  <p>Knows how to control Window</p>
  <p>Knows how to set up Window</p>
  <p>Knows how to set up Window</p>
  
  
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  
  <div *ngIf="showITInfo"><br><br></div>
  <h1>IT</h1>
    <p>Has Coding experience in C#</p>
    <p>Knows how to control Window</p>
    <p>Knows how to set up Window</p>
    <p>Knows how to set up Window</p>
    
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div *ngIf="showDevelopmentInfo"><br><br></div>
        <h1>Development</h1>
        <p>Has Coding experience in C#</p>
        <p>Knows how to control Window</p>
        <p>Knows how to set up Window</p>
     
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div *ngIf="showHRInfo"><br><br></div>    
    <h1>HR</h1>
        <p>Has Coding experience in C#</p>
        <p>Knows how to control Window</p>
        <p>Knows how to set up Window</p>
     
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div *ngIf="showProductionInfo"><br><br></div>    
    <h1>Production</h1>
        <p>Has Coding experience in C#</p>
        <p>Knows how to control Window</p>
        <p>Knows how to set up Window</p>
     
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>
        
    <h1>Engineering</h1>
        <p>Has Coding experience in C#</p>
        <p>Knows how to control Window</p>
        <p>Knows how to set up Window</p>
     
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br>
            
        <h1>Injection</h1>
            <p>Has Coding experience in C#</p>
            <p>Knows how to control Window</p>
            <p>Knows how to set up Window</p>

     
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
                
            <h1>HR</h1>
                <p>Has Coding experience in C#</p>
                <p>Knows how to control Window</p>
                <p>Knows how to set up Window</p>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>


                <h1>Assembly</h1>
                <p>Has Coding experience in C#</p>
                <p>Knows how to control Window</p>
                <p>Knows how to set up Window</p>    
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>


                <h1>Production Control</h1>
                <p>Has Coding experience in C#</p>
                <p>Knows how to control Window</p>
                <p>Knows how to set up Window</p>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br><br><br><br><br>

    <br><br><br>
    
    <div class="fields">
      
   
    </div>
  </div>
  
 

</div> 

<br><br><br><br><br>
  <div class=logo> 
    <img src="{{ talent_1 }}">
    <img src="{{ talent_2 }}">  
    <img src="{{ talent_3 }}">  
    <img src="{{ talent_4 }}">  
    <img src="{{ talent_5 }}">  
  </div>

 