 
<div class=facilitysite> 
  
            <h1 class="headings"><font color="purple">About Us</font></h1>
            <h1 class="headings"><font color="orange">Seoyon</font> <font color="purple"> E-Hwa</font> 
            <font color="orange"> Manufacturing</font> 
            <font color="purple"> Savannah,</font> <font color="orange"> Inc.</font></h1>

         
  
            

    <img src="{{ Plantpic }}" class="inline-img"> 
    <p>
      <font size="-1"> 
      <b>Name: </b>Seoyon E-Hwa Manufacturing Savannah, Inc. (SES) 
    <br><b>Location: </b>450 Four Lakes Parkway, Savannah, GA 31302
   </font>
   </p>
 
  <div class="facilitysite">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13519.996059350302!2d-81.3541695!3d32.0963123!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fba95c6dbc7849%3A0x1fabf36b3c2e5496!2sSeoyon%20E-Hwa%20Manufacturing%20Savannah!5e0!3m2!1sen!2sus!4v1692730216387!5m2!1sen!2sus"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
 
 

<p>
  &nbsp;&nbsp;Ignite your drive with Seoyon E-Hwa Manufacturing Savannah, Inc., 
    the pinnacle of cutting-edge automotive interior and exterior components.
    Embarking on a groundbreaking journey in 2024, 
    at the bustling epicenter of innovation—the 
    Chatham Manufacturing Center—we unite 
    Seoyon E-Hwa's revolutionary technologies,
    cutting- edge research, and unwavering commitment 
    to quality products, right here in Savannah, Georgia! 

 </p>
 
    
 <br><br><br><br><br>

   
 <img src="{{ Affilates }}" class="inline-img">
 <p>
   <font size="-1">
   <b>Description:</b> As a proud subsidiary of Seoyon E-Hwa Co., Korea, founded in 1972, we belong to a global 
   network of 32 corporations spanning North America, South America, Europe, and Asia. With over 8,000 dedicated employees 
   worldwide, our influence reaches far and wide in the automotive industry. Our illustrious group has established itself as a 
   prominent manufacturer and supplier of automotive components, serving prestigious brands including Hyundai, Kia, Tesla, Volkswagen,
    Audi, Ford, Mercedes-Benz, Renault-Nissan, BAIC, and many more.  </font></p>    
    
 
 <br><br>

   
 <p>
   <font size="+1">
 &nbsp;&nbsp;At Seoyon E-Hwa Manufacturing Savannah, we uphold 
the values of our parent company while embracing the 
dynamic landscape of the automotive sector. We actively 
engage with advancements in the automotive landscape, 
placing research and development, quality assurance, and technological excellence at the forefront of our endeavors. By continually introducing novel materials and pioneering product models, we enhance the market presence of our offerings and recognize the expectations of society and businesses that are rapidly evolving. 
In response, we are fully committed to the principles of Environmental, Social, and Governance (ESG) management. It is our steadfast belief that delivering value extends beyond products; it encompasses our responsibility to the environment, our engagement with communities, and our ethical business practices.
 
<br><br>
&nbsp;&nbsp;At Seoyon E-Hwa Manufacturing Savannah, Inc, we are a visionary force shaping the future of the auto parts industry. Through substantial investments in research, development, and quality control, we stand ready to lead, innovate, and drive the future of the auto parts industry. Join us on this extraordinary journey towards excellence and innovation in the world of automotive interior parts.

</font>
</p>
 

<br><br>

</div>