 div.facilitysite {
  
    margin-left: 20%;   
    margin-right: 20%; 
    
}

 

h1 {
    text-align: center;
}

.inline-img {
    max-width: 90%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the image horizontally */
    display: block;
}