<div class="groundbreaking">
<h1>Groundbreaking Event</h1> 
<p>For the new journey toward Seoyon E-Hwa Manufacturing Savannah Inc, we held groundbreaking event on 04/14/2023</p>
 
<a href="https://www.wjcl.com/article/georgia-seoyon-e-hwa-savannah-groundbreaking/43622847">
    Wjcl News</a><br>
<a href="https://www.savannahnow.com/story/business/2023/02/01/hyundai-supplier-seoyon-e-hwa-to-build-facility-in-chatham-county/69862504007/">
    Savannahnow News</a><br>
<a href=" https://www.georgia.org/press-release/seoyon-e-hwa-joins-growing-list-hyundai-suppliers-nearly-doubles-georgia-employment">
    Georgia News</a><br>
<a href="https://www.assemblymag.com/articles/97627-georgia-to-get-new-auto-parts-assembly-plant">
    Assembly News</a><br>
    

   
<br><br>

</div>
<div class="image-container">
    <img *ngFor="let Groundbreakings of Groundbreaking; let last = last" [src]="Groundbreakings" alt="Image">
 
</div>

 <br><br>

 