<div class="groundbreaking">
    <h1>MOU Ceremony</h1> 
    <p style="font-size: 30x;">Seoyon E-Hwa Manufacturing Savannah Inc held MOU Ceremony with Savannah Technical College on 09/19/2023</p>
     
    <a href="https://www.savannahtech.edu/seoyon-e-hwa-savannah-tech-sign-training-partnership-mou/">
        Savannah Technical College News</a><br>
    <a href="https://www.live5news.com/video/2023/09/15/seoyon-e-hwa-savannah-tech-partner-training-programs/">
        Live 5 News</a><br>
   
        <br><br>   
     <iframe width="560" height="315" src="https://www.youtube.com/embed/GDxhLJq69AI" frameborder="0" allowfullscreen></iframe>

       
    <br><br>
    
    </div>
    <div class="image-container">
        
        <img *ngFor="let MOUs of MOU; let last = last" [src]="MOU" alt="Image">
     
    </div>
    
     <br><br>
    
     