.groundbreaking{
    text-align:center

}

 

  .custom-link {
    text-decoration: underline; /* Makes it look like a link */
    cursor: pointer;            /* Shows the clickable hand icon when hovering */
}