<div class="groundbreaking">

    <p style="font-size: 25px;"><b>Seoyon E-Hwa Manufacturing Savannah Inc strives to contribute to the community in various ways.</b></p>
   
    <a style="font-size: 20px;" href="#" (click)="events(); $event.preventDefault()" class="custom-link">Groundbreaking Event</a>
    <br>
    <br>
    <a style="font-size: 20px;" href="#" (click)="MOU(); $event.preventDefault()" class="custom-link">MOU Ceremony with Savannah Technical College</a>
    <br>
   
 
    
    <br><br>
</div>
     