div.bd {
   
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  
  
  
  }
  table, th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
  
  }


  div.bd1 {
 
    
    text-align: center;
    margin-top: 50px;
    margin-right: -300px;
  
  }