<p> 
    <button (click)="Logout()" type="button">Logout</button><br>
</p>

<div class="bd">
    <table>
        <tr>
            <th scope="col">Department</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">E-mail</th>
            <th scope="col">Resume</th>
        </tr>
        
        <tr *ngFor="let applicant of allapplicants">
            <td><p>{{applicant.departments}}</p></td>
            <td><p>{{applicant.firstname}}</p></td>
            <td><p>{{applicant.lastname}}</p></td>
            <td><p>{{applicant.email}}</p></td>
            <td><p>{{applicant.resume}}</p></td>
        </tr>
    </table>
    <br><br><br>
</div>

<div>
<br><br><br>
<br><br><br>
</div> 